<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title>Cryptocurrency</title>
        <script src="scripts/jquery-3.7.1.js"></script>
        <script src="scripts/exchange.js"></script>
    </head>
    <body>
        <header>
            <h1>Exchanges</h1>
            <section class="links">
                <a href="/view_finance">Finance Platforms</a>
                <a href="/">Cryptocurrency</a>
            </section>
        </header>
        <main>
            <img
                src="images/bitcoin.gif"
                alt="GIF of bitcoin"
                class="bitcoin"
            />
            <div id="output-div"></div>
            <button>Show 100</button>
        </main>
    </body>
</html>
