* {
    font-family: "Open Sans", sans-serif;
}
body {
    background: #bcf1fa;
    background: radial-gradient(circle, #bcf1fad1 0%, #8cd2ff 100%);
}
.form-image {
    rotate: -40deg;
    position: fixed;
    left: 13%;
    z-index: -1;
}
main {
    width: 30%;
    padding: 2%;
    margin: 2% 33%;
    background-color: white;
    color: #0f4c75;
    border-radius: 20px;
    box-shadow: 0px 0px 290px 48px rgba(0, 0, 0, 0.3);
}
main label {
    display: block;
    margin: 30px 20px;
    font-size: 1.5rem;
}
main input {
    display: block;
}
main textarea {
    width: 80%;
    height: 120px;
    margin-top: 10px;
    border: 2px solid #0f4c75;
    border-radius: 5px;
    outline: none;
    display: block;
    resize: none;
    font-size: 1.2rem;
    color: #0f4c75;
}
main p {
    color: red;
    position: relative;
    bottom: 20px;
    left: 20px;
}
main .input-text {
    width: 45%;
    padding: 2%;
    background-color: white;
    border: none;
    border-bottom: 3px solid #0f4c75;
    outline: none;
    color: #0f4c75;
    font-size: 1.2rem;
}
main .title {
    padding: 25px;
    margin-top: 0;
    border-bottom: 5px solid #0f4c75;
    font-size: 3rem;
    text-align: center;
}
main .input-file {
    font-size: 1.1rem;
    color: white;
    margin: 10px 10px 10px 0;
}
main .input-file-label {
    padding: 20px 60px 20px 20px;
    border-radius: 7px;
    display: inline-block;
    background-color: #0f4c75;
    color: white;
}
main .submit-button {
    padding: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 7px;
    background-color: #0f4c75;
    color: white;
}
