<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome <%= data.first_name %>!</h1>
    <section>
        <h2>First Name: <%= data.first_name %></h2>
        <h2>last Name: <%= data.last_name %></h2>
        <h2>Email Address: <%= data.email %></h2>
    </section>
    <a href="/logOut">Log out</a>
</body>
</html>