<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Visitor</title>
</head>
<body>
    <a href="/reset">Reset</a>
    <h1>You are Visitor <%= number %></h1>
    <h2>"<%= message %>"</h2>
    <a href="/repeat">Repeat</a>
</body>
</html>