<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <a href="movies.ejs">Movies</a><br>
    <a href="theaters.ejs">Theaters</a><br>
    <a href="form.ejs">Forms</a>
</body>
</html>