<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/movie.css" />
        <title>Movies</title>
    </head>
    <body>
        <h1 class="header">Airing Movies</h1>
        <section>
            <h1>Black Fox</h1>
            <img src="/images/blackfox.jpg" alt="Image of Blackfox" />
            <div class="movie-desc">
                <p>
                    Rikka Isurugi has spent her life training in the way of the
                    ninja with her grandfather Hyoe while following in the
                    footsteps of her father, the esteemed researcher Allen. His
                    work has culminated in a set of cutting- edge drones
                    equipped with artificial intelligence and incredible
                    technical capabilities; although Allen plans to develop
                    these drones for civilian use, there are others who have
                    more sinister ideas in mind.
                </p>
                <p>
                    On Rikka's 16th birthday, things are forever changed when a
                    paramilitary group raids the Isurugi house in search of the
                    drone technology, killing Allen and Hyoe while Rikka manages
                    to escape with the drones. Months pass, and Rikka is now an
                    ordinary girl working as a private detective while sharing
                    an apartment with another girl, Melissa. But when night
                    falls, she dons her grandfather's fox mask and mercilessly
                    hunts down those responsible for the attack. With the anger
                    she felt that day driving her forward, Rikka will not rest
                    until her family's killers receive the justice that they
                    deserve.
                </p>
                <p>Gathered from <a href="https://myanimelist.net/">MAL</a></p>
            </div>
        </section>
        <section>
            <h1>Your Name</h1>
            <img src="/images/yourname.jpg" alt="Image of Your Name" />
            <div class="movie-desc">
                <p>
                    Mitsuha Miyamizu, a high school girl, yearns to live the
                    life of a boy in the bustling city of Tokyo—a dream that
                    stands in stark contrast to her present life in the
                    countryside. Meanwhile in the city, Taki Tachibana lives a
                    busy life as a high school student while juggling his
                    part-time job and hopes for a future in architecture.
                </p>
                <p>
                    One day, Mitsuha awakens in a room that is not her own and
                    suddenly finds herself living the dream life in Tokyo—but in
                    Taki's body! Elsewhere, Taki finds himself living Mitsuha's
                    life in the humble countryside. In pursuit of an answer to
                    this strange phenomenon, they begin to search for one
                    another.
                </p>
                <p>
                    Kimi no Na wa. revolves around Mitsuha and Taki's actions,
                    which begin to have a dramatic impact on each other's lives,
                    weaving them into a fabric held together by fate and
                    circumstance.
                </p>
                <p>Gathered from <a href="https://myanimelist.net/">MAL</a></p>
            </div>
        </section>
        <section>
            <h1>Weathering with you</h1>
            <img
                src="/images/weathering.jpg"
                alt="Image of weathering with you"
            />
            <div class="movie-desc">
                <p>
                    Tokyo is currently experiencing rain showers that seem to
                    disrupt the usual pace of everyone living there to no end.
                    Amidst this seemingly eternal downpour arrives the runaway
                    high school student Hodaka Morishima, who struggles to
                    financially support himself—ending up with a job at a
                    small-time publisher. At the same time, the orphaned Hina
                    Amano also strives to find work to sustain herself and her
                    younger brother.
                </p>
                <p>
                    Both fates intertwine when Hodaka attempts to rescue Hina
                    from shady men, deciding to run away together. Subsequently,
                    Hodaka discovers that Hina has a strange yet astounding
                    power: the ability to call out the sun whenever she prays
                    for it. With Tokyo's unusual weather in mind, Hodaka sees
                    the potential of this ability. He suggests that Hina should
                    become a "sunshine girl"—someone who will clear the sky for
                    people when they need it the most.
                </p>
                <p>
                    Things begin looking up for them at first. However, it is
                    common knowledge that power always comes with a hefty
                    price...
                </p>
                <p>Gathered from <a href="https://myanimelist.net/">MAL</a></p>
            </div>
        </section>
    </body>
</html>
