<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/theater.css">
    <title>Theaters</title>
</head>
<body>
    <h1>Available Theater</h1>
    <h2>SM Fairview Cinemas</h2>
    <img src="/images/sm.jpg" alt="Image of SM Fairview">
    <img src="/images/inner-cinema.jpg" alt="Image of SM Fairview Cinema">
</body>
</html>