* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #bcf1fa;
  background: radial-gradient(circle, #bcf1fad1 0%, #8cd2ff 100%);
}
header {
  width: 100%;
  padding: 10px;
  background-color: #26c226;
  text-align: center;
}
header p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
main {
  width: 30%;
  padding: 2%;
  margin: 2% 33%;
  background-color: white;
  color: #0f4c75;
  border-radius: 20px;
  box-shadow: 0px 0px 290px 48px rgba(0, 0, 0, 0.3);
}
main label {
  display: block;
  position: relative;
  margin: 30px 20px;
  font-size: 1.5rem;
}
main input {
  display: block;
}
main .details-label {
  display: inline-block;
  position: relative;
  bottom: 100px;
}
main textarea {
  width: 60%;
  height: 120px;
  margin-top: 10px;
  border: 2px solid #0f4c75;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  resize: none;
  font-size: 1.2rem;
  color: #0f4c75;
}
main .error {
  color: red;
  position: relative;
  bottom: 20px;
  left: 20px;
}
main .input-text {
  width: 45%;
  padding: 2%;
  background-color: white;
  border: none;
  border-bottom: 3px solid #0f4c75;
  outline: none;
  color: #0f4c75;
  font-size: 1.2rem;
  display: inline-block;
}
main .title {
  padding: 25px;
  margin: 0;
  border-bottom: 5px solid #0f4c75;
  font-size: 3rem;
  text-align: center;
}
main .input-file {
  font-size: 1.1rem;
  color: white;
  margin: 10px 10px 10px 0;
}
main .input-file-label {
  padding: 20px 60px 20px 20px;
  border-radius: 7px;
  display: inline-block;
  background-color: #0f4c75;
  color: white;
}
main .submit-button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 7px;
  background-color: #0f4c75;
  color: white;
  display: inline-block;
  position: relative;
  left: 45%;
}
main .button-form {
  position: relative;
  left: 45%;
  display: inline-block;
}
main section {
  padding: 20px;
  border-bottom: 3px dashed #0f4c75;
}
main section h1 {
  display: inline-block;
}
main .container {
  height: 70%;
  overflow-y: scroll;
}
.success-dashboard {
  width: 50%;
  height: 800px;
  margin: 2% 25%;
}
