* {
    font-family: sans-serif;
    color: white;
}

main {
    width: 650px;
    padding: 1%;
    position: relative;
    top: 20px;
    left: 33%;
    backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
h1,
h2 {
    text-align: center;
    color: cyan;
}
h3,
strong {
    color: lightcoral;
}
img {
    position: relative;
    left: 22%;
    width: 60%;
    text-align: center;
}
body {
    background-image: url("https://cdn.wallpapersafari.com/69/45/PbIhzv.png");
}
