<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <title>Color Theme</title>
        <script src="script/jquery-3.7.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="script/front.js"></script>
    </head>
    <body>
        <button id="light">Light mode</button>
        <button id="random">Random Color</button>
        <button id="dark">Dark mode</button>
    </body>
</html>
