.access label {
	width: 21%;
	margin: 1% 0;
	display: block;
	text-align: right;
	font-size: 1.3rem;
}

.access input[type="submit"] {
    width: 80px;
    position: relative;
    left: 16.4%;
}

.access a{
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 1%;
}

