* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
	padding: 30px;
	background-color: #1e3d58;
	color: #e8eef1;
}

header section,
.access-title {
	width: 80%;
}

.access-title {
	margin: 0 5%;
}

header h1 {
	font-size: 2.7rem;
}

header a {
	text-decoration: none;
	font-size: 2rem;
	color: #43b0f1;
}

header section,
header section h1,
header a,
.access-title {
	display: inline-block;
	margin-right: 2%;
	vertical-align: center;
}

input[type="submit"] {
	background-color: #057dcd;
	color: white;
}

input {
	padding: 8px;
}

textarea{
	resize: none;
	padding: 8px;
	font-size: 1.2rem;
}

main {
	margin: 2% 4%;
}

.error {
	display: inline-block;
	color: red;
}

.success {
	color: green;
}

.success-popup, .error-popup{
	font-size: 1.2rem;
	text-align: center;
	padding: 20px;
	background-color: darkgreen;
	color: white;
	border: 1px solid black;
	margin: 10px 0;
}

.error-popup{
	background-color: darkred;
}

.remove {
	text-align: center;
}

.remove img {
	width: 400px;
}

.remove h2 {
	font-size: 2rem;
}

.confirm-button,
.decline-button {
	margin-top: 20px;
	padding: 20px;
	display: inline-block;
	border: 1px solid black;
	color: white;
	text-decoration: none;
}

.confirm-button{
	background-color: darkgreen;
}
.decline-button{
	background-color: darkred;
}
